cruise_audios_22k/
LJSpeech-1.1_small/
init_nemo_models/
cruise_audios_22k.zip
LJSpeech-1.1_small.zip
fastpitch_sup_data/
exp/hifigan_cruisetuningv1/HifiGan/2023-03-23_16-31-36/checkpoints/

*.ini


was_ipnyb_tutorial.py
=0.10.0
!exp/fastpitch_cruisetuningv2/FastPitch/2023-03-23_02-40-51/checkpoints/FastPitch--val_loss=1.1875-epoch=34.ckpt
!exp/fastpitch_cruisetuningv2/FastPitch/2023-03-23_02-40-51/checkpoints/FastPitch--val_loss=1.1873-epoch=9.ckpt
!exp/fastpitch_cruisetuningv2/FastPitch/2023-03-23_02-40-51/checkpoints/FastPitch--val_loss=1.3521-epoch=234-last.ckpt
